html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Rokkitt', serif;
    font-size: 1.2em;
    line-height: 1.5;
    background-color: rgb(53, 7, 52);
    color: white;
}

h1, h2, h3 {
    font-weight: 700;
    color: rgb(255, 166, 65);
}
h1,h2 {
    text-shadow: 0 -2px 8px rgb(255, 0, 0);
}
header {
    position: absolute;
    top: 0;
    padding: 0;
    z-index: 3;
    width: 100%;
}
header h1 {
    font-weight: 800;
    font-size: 2.6rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 166, 65);
}
a {
    color: rgb(255, 166, 65);
}
a:visited {
    columns: rgb(221, 45, 1);
}
a:hover, a:active {
    columns: #000;
    text-decoration: none;
}
.base-bg {
    background-color: rgb(209, 4, 4);
    background-image: linear-gradient(to bottom, rgb(133,48,130), rgb(178,81,134), rgb(222, 119, 65));    
    color: rgb(246, 226, 218);
    padding: 1em;
}

.col-2 {
    display: grid;
}

.col-3-myndir {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px; 
}
.col-3-myndir article {
    flex: 1 1 30%; 
    margin: 10px;
    text-align: center;
}
.timabil{
    width: 100%; 
  text-align: center; 
  margin-bottom: 20px; 
  order: 0;
}
.topmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.topmenu a:hover {
    background-color: rgb(255, 0, 0); 
}
.container h5 {
    text-align: center;
}

/****** standard IMG *********/

img {
     max-width: 100%;
     height: auto;
}
figure {
    margin: 0;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 1em; 
    color: rgb(255, 166, 65);
    padding: 1em;
    list-style: none;
}
a, footer a {
    color: rgb(255, 166, 65);
}
footer a {
    display: block;
    line-height: 1.5;
}
footer a:visited {
    color: rgb(255, 81, 0);
}
footer a:active, .footer a:hover {
    text-decoration: none;
}
blockquote {
    background-color: rgba(0,0,0, 0.5);
    padding:1em;
}
.copy {
    text-align: center;
}
picture img {
    display: block;
}
@media screen and (min-width:20rem) {
    body {
        font-size: 1rem;
        width: fit-content;
    }
    header h1 {
        font-size: 2rem;
        text-align: center;
        justify-content: center;
    }
    .container {
        padding: 0.5rem;
    }
}

@media screen and (min-width:37.5rem) {
    body {
        font-size: 1.1rem;
    }
    header h1 {
        font-size: 3rem;
    }
    .topmenu {
        gap: 1rem;
    }
}

@media screen and (min-width:48rem) {
    .col-2 {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .col-3-myndir {
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
    .col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        row-gap: 1rem;
    }
    header h1 {
        font-size: 4rem;
    }
}
@media screen and (min-width:60rem) {
    .col-3-myndir {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .col-21 {
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
    .topmenu {
        gap: 3rem;
    }
}

@media screen and (min-width:80rem) {
    body {
        font-size: 1.4rem;
    }
    .container {
        max-width: 80rem;
        margin: 0 auto;
    }
    header h1 {
        font-size: 6rem;
    }
    footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}